@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

p,
a {
    font-family: 'Source Sans Pro', sans-serif;
    
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;
}
.wrapper{
    position:relative;
}
footer{
    position:fixed;
    text-align:center;
    bottom:0px;
    width:100%;
    background-color: black;
    color:white;
}
h1{
    color:white;
    font-size:50px;
    margin:0.5em;
}
.hero{
    display:grid;
    background-size: cover;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
a{
    text-decoration: none;
    color:white;
    background-color: goldenrod;
    padding:5px;
    border-radius: 0.5em;
}
a:hover{
    background-color: rgba(218, 165, 32, 50%);
}
ul{
    list-style: none;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
li{
    border:1px solid gray;
    border-radius: 1em;
    padding:10px;
    margin:10px;
}
figure{
    position:relative;
}
figcaption{
    position:absolute;
    bottom:5px;
    width:95%;
    padding-left:5%;
    color:white;
    background-color:rgba(0, 0, 0, 50%);
}
img{
    width:100%;
}
article > p{
    color:white;
    font-size:20px;
}
article{
    margin:1em;
}